h1 {
	text-align: center;
	font-size: 40px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
p, ul	{
	font-family: monospace,monospace;
	font-style: normal;
	font-weight: 700;
}
table {    
	border: 2px solid black;
	border-collapse: collapse;
	width: 30%;
}
th, td {
	border: 1px solid black;
	padding: 5px;
	text-align: center;
}    
th {
	background-color: lightgray;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}

#header li {
	float: left;
}

#header li a {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-style: normal;
	font-weight: 700;
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111111;
	font-size: 40px;
}
#top img:hover{
	border: 3px solid black;
	border-style: dotted;
}
ul{
	list-style-type: circle;
}